#title {
    color: beige ;
    font-size: 50px;
    text-align: center;
    text-decoration: underline  ; 
}
nav h2 {color: beige;
    font-size: 25px;
    text-align: left;
    margin-right: 80%;
}
nav .links {
    color: beige;
    font-size: 16px;
    text-align: left;
    margin-right: 75%;
    margin: 15px;
}
aside {
    width: 43%;
    position: absolute;
    margin-left: 73%;
    
}
body img {
    position: relative ;
    margin-left: 20%;
    margin-right: 50%;
    width: 60%;
}

body{
    background: url(./img/japon.jpg);
    min-height: 100%;
    min-width: 1024;
    background-size: 100%;
    background-attachment: fixed;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 40px; 
    color: beige 
}
h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    color: beige;

}
#map {
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;    
}
#video {
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;}

.content, li {
    margin: 0 20% 30px 20%;
    text-align: justify;
    color: beige;
    font-style: italic;
    font-size: 20px;

}
.redsocial  {
    
    min-width: 700px;
    display: flex;
    justify-content: space-around;
}
      
.redsocial a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}
      
.redsocial a:hover {
    transform: scale(1.2);
}
     
.btn-wsp {
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
