h1 {
    color: beige ;
    font-size: 50px;
    text-align: center;
    text-decoration: underline  ; 
}
body img {
    position: relative;
    margin-left: 27.5%;
    margin-right: 25%;
    width: 45%;
}

body{
    background-color: rgb(94, 124, 82);
    
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 40px; 
    color: beige 
}
h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    color: beige;

}
#map {
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    
    
}
#video {
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;}

    p, li {
    margin: 0 20% 30px 20%;
    text-align: justify;
    color: beige;
    font-style: italic;
    font-size: 20px;

}
